<!DOCTYPE html>
<html lang="en">
<head>
	{{ base_assets()|raw }}
	<title>{{ config.build.name }}</title>

	{# Required meta tags always come first #}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	{# Main Font #}
	<script src="assets/dragsport/js/webfontloader.min.js"></script>

	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

	{# Bootstrap CSS #}
	<link rel="stylesheet" type="text/css" href="assets/dragsport/Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="assets/dragsport/Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="assets/dragsport/Bootstrap/dist/css/bootstrap-grid.css">

	{# Main Styles CSS #}
	<link rel="stylesheet" type="text/css" href="assets/dragsport/css/main.css">
	<link rel="stylesheet" type="text/css" href="assets/dragsport/css/fonts.min.css">

	{# Extra #}
	<link rel="stylesheet" type="text/css" href="assets/dragsport/vendor/noty/noty.css">
	<link rel="stylesheet" type="text/css" href="assets/dragsport/vendor/noty/themes/metroui.css">
	<link rel="stylesheet" type="text/css" href="assets/dragsport/vendor/ladda/ladda-themeless.min.css">
	<link rel="stylesheet" type="text/css" href="assets/dragsport/css/dragsport.css">

</head>

<body class="landing-page">

<div id="load_page"></div>

<div class="content-bg-wrap"></div>


{# Header Standard Landing #}

<div class="header--standard header--standard-landing" id="header--standard">
	<div class="container">
		<div class="header--standard-wrap">

			<a href="#" class="logo">
				<div class="img-wrap">
					<img src="assets/dragsport/logo/logo oficial black.png" alt="dragsport">
					{#  <img src="assets/dragsport/img/logo.png" alt="Olympus">
					<img src="assets/dragsport/img/logo-colored-small.png" alt="Olympus" class="logo-colored">#}
				</div>
				{# <div class="title-block">
					<h6 class="logo-title">olympus</h6>
					<div class="sub-title">SOCIAL NETWORK</div>
				</div> #}
			</a>

			<a href="#" class="open-responsive-menu js-open-responsive-menu">
				<svg class="olymp-menu-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
			</a>

			<div class="nav nav-pills nav1 header-menu">
				<div class="mCustomScrollbar">
					<ul>
						<li class="nav-item">
							<a href="#" class="nav-link">Home</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" tabindex='1'>Profile</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Profile Page</a>
								<a class="dropdown-item" href="#">Newsfeed</a>
								<a class="dropdown-item" href="#">Post Versions</a>
							</div>
						</li>
						<li class="nav-item dropdown dropdown-has-megamenu">
							<a href="#" class="nav-link dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false" tabindex='1'>Forums</a>
							<div class="dropdown-menu megamenu">
								<div class="row">
									<div class="col col-sm-3">
										<h6 class="column-tittle">Main Links</h6>
										<a class="dropdown-item" href="#">Profile Page<span class="tag-label bg-blue-light">new</span></a>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
									</div>
									<div class="col col-sm-3">
										<h6 class="column-tittle">BuddyPress</h6>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page<span class="tag-label bg-primary">HOT!</span></a>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
									</div>
									<div class="col col-sm-3">
										<h6 class="column-tittle">Corporate</h6>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
									</div>
									<div class="col col-sm-3">
										<h6 class="column-tittle">Forums</h6>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
										<a class="dropdown-item" href="#">Profile Page</a>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">Terms & Conditions</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">Events</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">Privacy Policy</a>
						</li>
						<li class="close-responsive-menu js-close-responsive-menu">
							<svg class="olymp-close-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
						</li>
						<li class="nav-item js-expanded-menu">
							<a href="#" class="nav-link">
								<svg class="olymp-menu-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
								<svg class="olymp-close-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
							</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{# ... end Header Standard Landing #}
<div class="header-spacer--standard"></div>

<div class="container">
	<div class="row display-flex">
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="landing-content">
				<h1>Welcome to the Sport Social Network in the World</h1>
				<p>We are the best and biggest social network with 5 billion active users all around the world. Share you
					thoughts, write blog posts, show your favourite music via Stopify, earn badges and much more!
				</p>
				<a href="#" class="btn btn-md btn-border c-white">Register Now!</a>
			</div>
		</div>

		<div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
			
			{# Login-Registration Form #}
			
			<div class="registration-login-form">
				{# Nav tabs #}
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link {% if m != 'login' %}active{% endif %}" data-toggle="tab" href="#home" role="tab">
							<svg class="olymp-login-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-login-icon"></use></svg>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if m == 'login' %}active{% endif %}" data-toggle="tab" href="#profile" role="tab">
							<svg class="olymp-register-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-register-icon"></use></svg>
						</a>
					</li>
				</ul>
			
				{# Tab panes #}
				<div class="tab-content">
					<div class="tab-pane {% if m != 'login' %}active{% endif %}" id="home" role="tabpanel" data-mh="log-tab">
						<div class="title h6">Register to Dragsports</div>
						{% include 'start/register' with { sports: sports } only %}

					</div>
			
					<div class="tab-pane {% if m == 'login' %}active{% endif %}" id="profile" role="tabpanel" data-mh="log-tab">
						<div class="title h6">Login to your Account</div>
						{% include 'start/login' with { twurl: twurl } only %}

						<div class="modal-mx"></div>

						{% if null != tc_u and null == tc_u.success %}
						<div class="modal fade" id="lastStep" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						    <div class="modal-dialog modal-dialog-centered" role="document">
						        <form class="modal-content modal-sm" id="tc_continue_form" role="form">
						          <div class="modal-header">
						              <h5 class="modal-title" id="exampleModalLongTitle">Only one more step!</h5>
						          </div>
						              <div class="modal-body">
						                <div class="row">
							                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
							                	{% if not tc_u.data.email is defined %}
							                	<div class="form-group label-floating is-empty">
													<label class="control-label">Your Email</label>
													<input class="form-control" placeholder="" type="email" name="email">
												</div>
							                	{% endif %}
												<div class="form-group label-floating is-empty">
													<label class="control-label">Last Name</label>
													<input class="form-control" placeholder="" type="text" name="last_name">
												<span class="material-input"></span></div>

							                    <div class="form-group date-time-picker label-floating">
								                    <label class="control-label">Your Birthday</label>
								                    <input name="datetimepicker" value="01/01/{{ timestamp()|date('Y') - 18 }}" />
								                    <span class="input-group-addon">
								                        <svg class="olymp-calendar-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
								                    </span>
							                    </div>

							                    <div class="form-group label-floating is-select">
								                    <label class="control-label">Your Gender</label>
								                    <select class="selectpicker form-control" name="gender">
								                        <option value="male">Male</option>
								                        <option value="female">Female</option>
								                    </select>
							                    </div>

							                    <div class="form-group label-floating is-select">
													<label class="control-label">favorite sports</label>
													<select class="selectpicker form-control" name="favorite_sports[]" multiple title="Choose your favorites sports">
														{% for s in sports if false != sports %}
														<option value="{{ s.id_sport }}">{{ s.name }}</option>
														{% endfor %}
													</select>
												</div>
							                </div>
						                </div>
						              </div>
						            <div class="modal-footer">
						              	<button type="submit" class="btn btn-purple btn-lg full-width" id="tc_continue_btn">Continue</button>
						            </div>
						          </form>
						     </div>
						 </div>
						{% endif %}
						
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>


{# JS Scripts #}
<script src="assets/dragsport/js/jquery-3.2.1.js"></script>
<script src="assets/dragsport/js/jquery.appear.js"></script>
<script src="assets/dragsport/js/jquery.mousewheel.js"></script>
<script src="assets/dragsport/js/perfect-scrollbar.js"></script>
<script src="assets/dragsport/js/jquery.matchHeight.js"></script>
<script src="assets/dragsport/js/svgxuse.js"></script>
<script src="assets/dragsport/js/imagesloaded.pkgd.js"></script>
<script src="assets/dragsport/js/Headroom.js"></script>
<script src="assets/dragsport/js/velocity.js"></script>
<script src="assets/dragsport/js/ScrollMagic.js"></script>
<script src="assets/dragsport/js/jquery.waypoints.js"></script>
<script src="assets/dragsport/js/jquery.countTo.js"></script>
<script src="assets/dragsport/js/popper.min.js"></script>
<script src="assets/dragsport/js/material.min.js"></script>
<script src="assets/dragsport/js/bootstrap-select.js"></script>
<script src="assets/dragsport/js/smooth-scroll.js"></script>
<script src="assets/dragsport/js/selectize.js"></script>
<script src="assets/dragsport/js/swiper.jquery.js"></script>
<script src="assets/dragsport/js/moment.js"></script>
<script src="assets/dragsport/js/daterangepicker.js"></script>
<script src="assets/dragsport/js/simplecalendar.js"></script>
<script src="assets/dragsport/js/fullcalendar.js"></script>
<script src="assets/dragsport/js/isotope.pkgd.js"></script>
<script src="assets/dragsport/js/ajax-pagination.js"></script>
<script src="assets/dragsport/js/Chart.js"></script>
<script src="assets/dragsport/js/chartjs-plugin-deferred.js"></script>
<script src="assets/dragsport/js/circle-progress.js"></script>
<script src="assets/dragsport/js/loader.js"></script>
<script src="assets/dragsport/js/run-chart.js"></script>
<script src="assets/dragsport/js/jquery.magnific-popup.js"></script>
<script src="assets/dragsport/js/jquery.gifplayer.js"></script>
<script src="assets/dragsport/js/mediaelement-and-player.js"></script>
<script src="assets/dragsport/js/mediaelement-playlist-plugin.min.js"></script>

<script defer src="assets/dragsport/fonts/fontawesome-all.js"></script>

<script src="assets/dragsport/Bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="assets/dragsport/js/base-init.js"></script>

{# Extra #}
<script src="assets/dragsport/vendor/mojs/mo.min.js"></script>
<script src="assets/dragsport/vendor/noty/noty.min.js"></script>
<script src="assets/dragsport/vendor/ladda/spin.min.js"></script>
<script src="assets/dragsport/vendor/ladda/ladda.min.js"></script>
<script src="assets/jscontrollers/overall/alerts.js"></script>

{# Register and login #}
<script src="assets/jscontrollers/start/register.js"></script>
<script src="assets/jscontrollers/start/login.js"></script>
<script src="assets/jscontrollers/start/lostpass.js"></script>
<script src="assets/jscontrollers/start/FBlogin.js"></script>


{% if null != tc_u and null == tc_u.success %}
<script>
	$('#lastStep').modal({
	    keyboard: false,
	    show: true,
	    backdrop: 'static'
	});

	$('form#tc_continue_form').submit(function(e){
	    e.defaultPrevented;
	    var $Form = $(this);
	    var __data = new FormData();


	    {% for i,e in tc_u.data %}
    	 __data.append('{{ i }}', '{{ e }}');
		{% endfor %}

	   

	    $Form.serializeArray().map(function(x){__data.append(x.name, x.value);}); 

	    if(undefined == $Form.data('locked') || false == $Form.data('locked')) {
	      var l = Ladda.create( document.querySelector( '#tc_continue_btn' ) );
	      l.start();

	      $.ajax({
	          type : "POST",
	          url : "api/{{ tc_u.route }}",
	          contentType:false,
      		  processData:false,
	          data : __data,
	          beforeSend: function(){ 
	              $Form.data('locked', true) 
	          },
	          success : function(json) {
	              if(json.success == 1) {
	                  success_message(json.message);
	                  setTimeout(function(){
	                      location.reload();
	                  }, 1000);
	              } else {
	                  error_message(json.message);
	              }
	          },
	          error : function(xhr, status) {
	              error_message('An internal problem has occurred');
	          },
	          complete: function(){ 
	              $Form.data('locked', false);
	              l.stop();
	          } 
	      });
	    }

	    return false;
	});
</script>

{% endif %}


{% if null != tc_u and null != tc_u.success and tc_u.success %}
<script>
	var l = Ladda.create( document.querySelector( '.bg-twitch' ) );
	l.start();
	success_message('Connected successfully.');
	setTimeout(function(){
	    location.reload();
	}, 1000);
	l.stop();
</script>
{% endif %}

</body>
</html>