{% extends 'overall/layout' %}
{% block page_title %}Music And Playlist{% endblock %}

{% block appBody %}

{# Header #}
{% include 'overall/topnav' with {page_title: 'Music & Playlist' } only %}

<div class="main-header">
	<div class="content-bg-wrap bg-music"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>Listen and Share Music!</h1>
					<p>Here you’ll be able to manage your Spotify playlist widget and listen all the saved playlists from your
	 friends! Friends playlists will update when they update their Olympus playlists, that way you can build awesome playlists
	  to share with your friends every day and they will always be updated.</p>
				</div>
			</div>
		</div>
	</div>

	<img class="img-bottom" src="assets/dragsport/img/music-bottom.png" alt="friends">
</div>

<!-- ... end Main Header Music -->

<div class="container">
	<div class="row">
		<div class="col col-xl-9 order-xl-2 col-lg-6 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Your Playlist Widget Settings</h6>
				</div>
				<div class="ui-block-content">


					
					<!-- Music Playlist Form  -->
					
					<form>
					
						<fieldset class="form-group label-floating is-select">
							<label class="control-label">Songs Showed Before the Jump</label>
							<select class="selectpicker form-control">
								<option value="AL">Show 5 Songs</option>
								<option value="2">Show 7 Songs</option>
								<option value="WY">Show 10 Songs</option>
							</select>
						</fieldset>
					
						<fieldset class="form-group label-floating is-select">
							<label class="control-label">Album Cover Options</label>
							<select class="selectpicker form-control">
								<option value="AL">Show Album Covers</option>
								<option value="2">Show Album Covers</option>
								<option value="WY">Show Album Covers</option>
							</select>
						</fieldset>
					
					</form>
					
					{% if false != user %}
					<p class="mt50">You are logged in to Spotify as <a href="{{ user.external_urls.spotify }}" target="_blank" class="c-green"> {{ user.display_name }}</a></p>
					{% endif %}	

					<div class="row">
						<div class="col col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
							<a href="javascript:void(0)" class="btn btn-secondary btn-lg full-width" data-toggle="modal" data-target="#faqs-popup">Link your Playlist FAQs</a>
						</div>
						<div class="col col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
							{% if false == user %}
							<a href="{{ url }}" class="btn btn-green btn-lg full-width btn-icon-left"><i class="fab fa-spotify" aria-hidden="true"></i> Spotify Account Login</a>
							{% else %}
							<a href="musicplaylist/logout" class="btn btn-green btn-lg full-width btn-icon-left"><i class="fab fa-spotify" aria-hidden="true"></i>
								Spotify Account Logout</a>
							{% endif %}

						</div>
					</div>
				</div>
			</div>

		</div>
		{% for i,playlist in user.pl if false != user.pl %}
		<div class="col col-xl-3 {{ i == 0 ? 'order-xl-1 order-lg-1 order-md-2' : 'order-xl-2 order-lg-2 order-md-2' }} col-lg-6  col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">{{ playlist.name }}</h6>
					<a href="{{ playlist.external_urls.spotify }}" class="more" target="_blank">
						<svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
					</a>
				</div>
				
				<ol class="widget w-playlist playlist-spf-dg">
					{% for track in playlist.data_tracks.items %}

					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb">
							<img src="{{ track.track.album.images[2]['url'] }}" alt="thumb-composition">
							<div class="overlay"></div>
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use>
								</svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">{{ track.track.name }}</a>
							<a href="javascript:void(0)" class="composition-author">{{ track.track.artists[0].name }}</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="{{ msToTime(track.track.duration_ms) }}">{{ msToTime(track.track.duration_ms) }}</time>
							{#<div class="more">
								<svg class="olymp-three-dots-icon">
									<use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>#}
						</div>

				
					</li>
					{% endfor %}


				</ol>

			</div>
		</div>
		{% endfor %}

	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block responsive-flex">
				<div class="ui-block-title">
					<div class="h6 title">Your Saved Playlists</div>

					<div class="align-right">

						<a href="javascript:void(0)" class="js-open-popup btn btn-md-2 btn-border-think custom-color c-grey" data-popup-target=".playlist-popup">Open the Music Player</a>

					</div>

					<a href="javascript:void(0)" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Green Goo’s Playlist</h6>
					<a href="javascript:void(0)" class="more">
						<span class="c-green">
							<svg class="olymp-remove-playlist-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-remove-playlist-icon"></use></svg>
						</span>
					</a>
				</div>

				
				<ol class="widget w-playlist">
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb">
							<img src="assets/dragsport/img/playlist6.jpg" alt="thumb-composition">
							<div class="overlay"></div>
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use>
								</svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">The Past Starts Slow...</a>
							<a href="javascript:void(0)" class="composition-author">System of a Revenge</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">3:22</time>
							<div class="more">
								<svg class="olymp-three-dots-icon">
									<use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
				
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb">
							<img src="assets/dragsport/img/playlist7.jpg" alt="thumb-composition">
							<div class="overlay"></div>
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use>
								</svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">The Pretender</a>
							<a href="javascript:void(0)" class="composition-author">Kung Fighters</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">5:48</time>
							<div class="more">
								<svg class="olymp-three-dots-icon">
									<use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb">
							<img src="assets/dragsport/img/playlist8.jpg" alt="thumb-composition">
							<div class="overlay"></div>
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use>
								</svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">Blood Brothers</a>
							<a href="javascript:void(0)" class="composition-author">Iron Maid</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">3:06</time>
							<div class="more">
								<svg class="olymp-three-dots-icon">
									<use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb">
							<img src="assets/dragsport/img/playlist9.jpg" alt="thumb-composition">
							<div class="overlay"></div>
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use>
								</svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">Seven Nation Army</a>
							<a href="javascript:void(0)" class="composition-author">The Black Stripes</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">6:17</time>
							<div class="more">
								<svg class="olymp-three-dots-icon">
									<use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb">
							<img src="assets/dragsport/img/playlist10.jpg" alt="thumb-composition">
							<div class="overlay"></div>
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use>
								</svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">Killer Queen</a>
							<a href="javascript:void(0)" class="composition-author">Archiduke</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">5:40</time>
							<div class="more">
								<svg class="olymp-three-dots-icon">
									<use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
				</ol>
				
			</div>
		</div>
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Green Goo’s Playlist</h6>
					<a href="javascript:void(0)" class="more">
							<span data-toggle="tooltip" data-placement="top"   data-original-title="SAVE PLAYLIST">
								<svg class="olymp-save-playlist-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-save-playlist-icon"></use></svg>
							</span>
					</a>
				</div>
				
				
				<ol class="widget w-playlist without-cover">
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">The Past Starts Slow...</a>
							<a href="javascript:void(0)" class="composition-author">System of a Revenge</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">3:22</time>
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
				
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">The Pretender</a>
							<a href="javascript:void(0)" class="composition-author">Kung Fighters</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">5:48</time>
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">Blood Brothers</a>
							<a href="javascript:void(0)" class="composition-author">Iron Maid</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">3:06</time>
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">Seven Nation Army</a>
							<a href="javascript:void(0)" class="composition-author">The Black Stripes</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">6:17</time>
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">Killer Queen</a>
							<a href="javascript:void(0)" class="composition-author">Archiduke</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">5:40</time>
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
				</ol>
				
			</div>
		</div>
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Marina V’s Playlist</h6>
					<a href="javascript:void(0)" class="more">
							<span class="c-green">
								<svg class="olymp-remove-playlist-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-remove-playlist-icon"></use></svg>
							</span>
					</a>
				</div>
								
				<ol class="widget w-playlist">
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
							<img src="assets/dragsport/img/playlist11.jpg" alt="thumb-composition">
							<div class="overlay"></div>
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">The Cowboy</a>
							<a href="javascript:void(0)" class="composition-author">System of a Revenge</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">4:02</time>
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
				
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
							<img src="assets/dragsport/img/playlist12.jpg" alt="thumb-composition">
							<div class="overlay"></div>
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">The Astronaut</a>
							<a href="javascript:void(0)" class="composition-author">Jason Bowie</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">3:54</time>
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
							<img src="assets/dragsport/img/playlist13.jpg" alt="thumb-composition">
							<div class="overlay"></div>
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">City’s Hero</a>
							<a href="javascript:void(0)" class="composition-author">Kung Fighters</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">4:36</time>
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
							<img src="assets/dragsport/img/playlist14.jpg" alt="thumb-composition">
							<div class="overlay"></div>
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">Enter Madman</a>
							<a href="javascript:void(0)" class="composition-author">MetalDeath</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">5:27</time>
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
							<img src="assets/dragsport/img/playlist15.jpg" alt="thumb-composition">
							<div class="overlay"></div>
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">Wunderbuss</a>
							<a href="javascript:void(0)" class="composition-author">James White</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">4:09</time>
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
				</ol>
								
			</div>
		</div>
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Elaine D’s Playlist</h6>
					<a href="javascript:void(0)" class="more">
							<span class="c-green">
								<svg class="olymp-remove-playlist-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-remove-playlist-icon"></use></svg>
							</span>
					</a>
				</div>

								
				<ol class="widget w-playlist">
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
							<img src="assets/dragsport/img/playlist16.jpg" alt="thumb-composition">
							<div class="overlay"></div>
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">The Juggler</a>
							<a href="javascript:void(0)" class="composition-author">Poison Apple</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">5:17</time>
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
				
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
							<img src="assets/dragsport/img/playlist17.jpg" alt="thumb-composition">
							<div class="overlay"></div>
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">Leap of Faith</a>
							<a href="javascript:void(0)" class="composition-author">Eden Artifact</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">8:24</time>
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
							<img src="assets/dragsport/img/playlist18.jpg" alt="thumb-composition">
							<div class="overlay"></div>
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">Bat Tornado</a>
							<a href="javascript:void(0)" class="composition-author">The Revengers</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">4:57</time>
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
							<img src="assets/dragsport/img/playlist19.jpg" alt="thumb-composition">
							<div class="overlay"></div>
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">Top Pressure</a>
							<a href="javascript:void(0)" class="composition-author">Jason Bowie</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">3:21</time>
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
							<img src="assets/dragsport/img/playlist20.jpg" alt="thumb-composition">
							<div class="overlay"></div>
							<a href="javascript:void(0)" class="play-icon">
								<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
							</a>
						</div>
				
						<div class="composition">
							<a href="javascript:void(0)" class="composition-name">Night Troopers</a>
							<a href="javascript:void(0)" class="composition-author">Iron Maid</a>
						</div>
				
						<div class="composition-time">
							<time class="published" datetime="2017-03-24T18:18">5:54</time>
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)">Add Song to Player</a>
									</li>
									<li>
										<a href="javascript:void(0)">Add Playlist to Player</a>
									</li>
								</ul>
							</div>
						</div>
				
					</li>
				</ol>
				
			</div>
		</div>
	</div>
</div>




<!-- Playlist Popup -->

<div class="window-popup playlist-popup" tabindex="-1" role="dialog" aria-labelledby="playlist-popup" aria-hidden="true">

	<a href="" class="icon-close js-close-popup">
		<svg class="olymp-close-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
	</a>

	<table class="playlist-popup-table">

		<thead>

		<tr>

			<th class="play">
				PLAY
			</th>

			<th class="cover">
				COVER
			</th>

			<th class="song-artist">
				SONG AND ARTIST
			</th>

			<th class="album">
				ALBUM
			</th>

			<th class="released">
				RELEASED
			</th>

			<th class="duration">
				DURATION
			</th>

			<th class="spotify">
				GET IT ON SPOTIFY
			</th>

			<th class="remove">
				REMOVE
			</th>
		</tr>

		</thead>

		<tbody class="webplayer-content">
		<tr>
			<td class="play">
				<a href="javascript:void(0)" class="play-icon">
					<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
				</a>
			</td>
			<td class="cover">
				<div class="playlist-thumb">
					<img src="assets/dragsport/img/playlist19.jpg" alt="thumb-composition">
				</div>
			</td>
			<td class="song-artist">
				<div class="composition">
					<a href="javascript:void(0)" class="composition-name">We Can Be Heroes</a>
					<a href="javascript:void(0)" class="composition-author">Jason Bowie</a>
				</div>
			</td>
			<td class="album">
				<a href="javascript:void(0)" class="album-composition">Ziggy Firedust</a>
			</td>
			<td class="released">
				<div class="release-year">2014</div>
			</td>
			<td class="duration">
				<div class="composition-time">
					<time class="published" datetime="2017-03-24T18:18">6:17</time>
				</div>
			</td>
			<td class="spotify">
				<i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
			</td>
			<td class="remove">
				<a href="javascript:void(0)" class="remove-icon">
					<svg class="olymp-close-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
				</a>
			</td>
		</tr>

		<tr>
			<td class="play">
				<a href="javascript:void(0)" class="play-icon">
					<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
				</a>
			</td>
			<td class="cover">
				<div class="playlist-thumb">
					<img src="assets/dragsport/img/playlist6.jpg" alt="thumb-composition">
				</div>
			</td>
			<td class="song-artist">
				<div class="composition">
					<a href="javascript:void(0)" class="composition-name">The Past Starts Slow and Ends</a>
					<a href="javascript:void(0)" class="composition-author">System of a Revenge</a>
				</div>
			</td>
			<td class="album">
				<a href="javascript:void(0)" class="album-composition">Wonderize</a>
			</td>
			<td class="released">
				<div class="release-year">2014</div>
			</td>
			<td class="duration">
				<div class="composition-time">
					<time class="published" datetime="2017-03-24T18:18">6:17</time>
				</div>
			</td>
			<td class="spotify">
				<i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
			</td>
			<td class="remove">
				<a href="javascript:void(0)" class="remove-icon">
					<svg class="olymp-close-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
				</a>
			</td>
		</tr>

		<tr>
			<td class="play">
				<a href="javascript:void(0)" class="play-icon">
					<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
				</a>
			</td>
			<td class="cover">
				<div class="playlist-thumb">
					<img src="assets/dragsport/img/playlist7.jpg" alt="thumb-composition">
				</div>
			</td>
			<td class="song-artist">
				<div class="composition">
					<a href="javascript:void(0)" class="composition-name">The Pretender</a>
					<a href="javascript:void(0)" class="composition-author">Kung Fighters</a>
				</div>
			</td>
			<td class="album">
				<a href="javascript:void(0)" class="album-composition">Warping Lights</a>
			</td>
			<td class="released">
				<div class="release-year">2014</div>
			</td>
			<td class="duration">
				<div class="composition-time">
					<time class="published" datetime="2017-03-24T18:18">6:17</time>
				</div>
			</td>
			<td class="spotify">
				<i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
			</td>
			<td class="remove">
				<a href="javascript:void(0)" class="remove-icon">
					<svg class="olymp-close-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
				</a>
			</td>
		</tr>

		<tr>
			<td class="play">
				<a href="javascript:void(0)" class="play-icon">
					<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
				</a>
			</td>
			<td class="cover">
				<div class="playlist-thumb">
					<img src="assets/dragsport/img/playlist8.jpg" alt="thumb-composition">
				</div>
			</td>
			<td class="song-artist">
				<div class="composition">
					<a href="javascript:void(0)" class="composition-name">Seven Nation Army</a>
					<a href="javascript:void(0)" class="composition-author">The Black Stripes</a>
				</div>
			</td>
			<td class="album">
				<a href="javascript:void(0)" class="album-composition ">Icky Strung (LIVE at Cube Garden)</a>
			</td>
			<td class="released">
				<div class="release-year">2014</div>
			</td>
			<td class="duration">
				<div class="composition-time">
					<time class="published" datetime="2017-03-24T18:18">6:17</time>
				</div>
			</td>
			<td class="spotify">
				<i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
			</td>
			<td class="remove">
				<a href="javascript:void(0)" class="remove-icon">
					<svg class="olymp-close-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
				</a>
			</td>
		</tr>

		<tr>
			<td class="play">
				<a href="javascript:void(0)" class="play-icon">
					<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
				</a>
			</td>
			<td class="cover">
				<div class="playlist-thumb">
					<img src="assets/dragsport/img/playlist9.jpg" alt="thumb-composition">
				</div>
			</td>
			<td class="song-artist">
				<div class="composition">
					<a href="javascript:void(0)" class="composition-name">Leap of Faith</a>
					<a href="javascript:void(0)" class="composition-author">Eden Artifact</a>
				</div>
			</td>
			<td class="album">
				<a href="javascript:void(0)" class="album-composition">The Assassins’s Soundtrack</a>
			</td>
			<td class="released">
				<div class="release-year">2014</div>
			</td>
			<td class="duration">
				<div class="composition-time">
					<time class="published" datetime="2017-03-24T18:18">6:17</time>
				</div>
			</td>
			<td class="spotify">
				<i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
			</td>
			<td class="remove">
				<a href="javascript:void(0)" class="remove-icon">
					<svg class="olymp-close-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
				</a>
			</td>
		</tr>

		<tr>
			<td class="play">
				<a href="javascript:void(0)" class="play-icon">
					<svg class="olymp-music-play-icon-big"><use xlink:href="assets/dragsport/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
				</a>
			</td>
			<td class="cover">
				<div class="playlist-thumb">
					<img src="assets/dragsport/img/playlist10.jpg" alt="thumb-composition">
				</div>
			</td>
			<td class="song-artist">
				<div class="composition">
					<a href="javascript:void(0)" class="composition-name">Killer Queen</a>
					<a href="javascript:void(0)" class="composition-author">Archiduke</a>
				</div>
			</td>
			<td class="album">
				<a href="javascript:void(0)" class="album-composition ">News of the Universe</a>
			</td>
			<td class="released">
				<div class="release-year">2014</div>
			</td>
			<td class="duration">
				<div class="composition-time">
					<time class="published" datetime="2017-03-24T18:18">6:17</time>
				</div>
			</td>
			<td class="spotify">
				<i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
			</td>
			<td class="remove">
				<a href="javascript:void(0)" class="remove-icon">
					<svg class="olymp-close-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
				</a>
			</td>
		</tr>
		</tbody>
	</table>

	<audio id="mediaplayer" data-showplaylist="true">
		<source src="assets/dragsport/mp3/Twice.mp3" title="Track 1" data-poster="track1.png" type="audio/mpeg">
		<source src="assets/dragsport/mp3/Twice.mp3" title="Track 2" data-poster="track2.png" type="audio/mpeg">
		<source src="assets/dragsport/mp3/Twice.mp3" title="Track 3" data-poster="track3.png" type="audio/mpeg">
		<source src="assets/dragsport/mp3/Twice.mp3" title="Track 4" data-poster="track4.png" type="audio/mpeg">
	</audio>

</div>

<!-- ... end Playlist Popup -->

<!-- Faqs Popup -->

<div class="modal fade" id="faqs-popup" tabindex="-1" role="dialog" aria-labelledby="faqs-popup" aria-hidden="true">
	<div class="modal-dialog window-popup faqs-popup" role="document">
		<div class="modal-content">
			<a href="javascript:void(0)" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Link your Playlist FAQs</h6>
			</div>

			<div class="modal-body">
				<div id="accordion" role="tablist" aria-multiselectable="true">
			<div class="card">
				<div class="card-header" role="tab" id="headingOne">
					<h6 class="mb-0">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Linking your <span class="c-green">Spotify</span> Account
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
					</h6>
				</div>

				<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillumered dolore eu fugiat nulla
						pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
					</p>
				</div>
			</div>

			<div class="card">
				<div class="card-header" role="tab" id="headingTwo">
					<h6 class="mb-0">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
							Choosing your Olympus Playlist
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
					</h6>
				</div>

				<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingOne">
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillumered dolore eu fugiat nulla
						pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="headingThree">
					<h6 class="mb-0">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
							Choosing your Olympus Playlist
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
					</h6>
				</div>

				<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillumered dolore eu fugiat nulla
						pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="headingFour">
					<h6 class="mb-0">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
							Choosing your Olympus Playlist
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
					</h6>
				</div>

				<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillumered dolore eu fugiat nulla
						pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="headingFive">
					<h6 class="mb-0">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
							Choosing your Olympus Playlist
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
					</h6>
				</div>

				<div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillumered dolore eu fugiat nulla
						pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
					</p>
				</div>
			</div>
		</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Faqs Popup -->
{% endblock %}

{% block appFooter %}
<script src="assets/jscontrollers/musicplaylist/musicplaylist.js"></script>
{% endblock %}